.container {
    position: relative;
    width: 100px;
    heigth: 100px;
}

.target {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    position: absolute;
    width: 100%;
    height: 100%;
}

.content {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.target.flipped {
    -webkit-transform: rotateY( 180deg);
    transform: rotateY( 180deg);
}

.front {
    background-color: aqua;
}

.back {
    background-color: chartreuse;
    -webkit-transform: rotateY( 180deg);
    transform: rotateY (180deg);
}
