.alert {
    position: absolute;
    bottom: 30px;
    left: 30px;
    display: flex;
    align-items: stretch;
    padding-right: 20px;
    perspective: 1000px;
    animation: alert 3000ms ease-in-out forwards;
}

.alertText {
    background: rgba(226, 0, 26, 0.7);
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    border-radius: 4px;
}

.alertHidden {
    display: none;
}

@-webkit-keyframes alert {
    0% {
        left: -100px;
        opacity: 0;
    }
    20%, 80% {
        left: 30px;
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        left: -100px
    }
}

@-moz-keyframes alert {
    0% {
        left: -100px;
        opacity: 0;
    }
    20%, 80% {
        left: 30px;
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        left: -100px
    }
}
