body {
  margin: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

.loginScreen {
  height: 100vH;
  background-image: url("../img/login_background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginInfoContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.loginInfoContainer h1 {
  color: white;
}

.loginInfoContainer input {
  margin: 5px;
  width: 80%;
  height: 30px;
  font-size: 15px;
}

.loginInputsContainer {
    width: 25%;
    background-color: rgba(44, 62, 80, 0.5);
    border-radius: 10px;
    padding: 5px;
}

.loginInputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginInfoContainer input[type=text], .loginInfoContainer input[type=password] {
    background-color: transparent;
    color: white;
    border-radius: 10px;
    transition: width 300ms ease-in-out;
}

.loginInfoContainer input[type=text]:focus, .loginInfoContainer input[type=password]:focus {
    border-color: #E2001A;
    outline: none;
    width: 85%;

}

.loginInfoContainer input[type=button] {
  background-color: #E2001A;
  border-radius: 10px;
  box-shadow: 1px 3px 5px black;
  cursor: pointer;
  color: white;
  border: none;
}

.loginInfoContainer input[type=button]:hover {
    text-shadow: #EEEE00 0 0 10px;
    background-color: #cb0017;
}

.loginErrorText {
    color: #E2001A;
    background-color: white;
}

.loadingAfterLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.loadingAfterLogin .loadingGif {
    background: url(../img/loading.gif) no-repeat center;
    background-size: contain;
    width: 50px;
    height: 50px;
}

.mainContent {
  display: block;
  height: 100vH;
  background-image: url("../img/mainContentBackground.jpg");
  background-position: center;
  background-size: cover;
}

.header {
  top: 0;
  height: 20vH;
  color: white;
}

.header h1{
  margin: 0px;
  left: 5px;
  font-size: 1em;
  font-style: italic;
  margin-left: 5px;
}

.headerContent {
  width: 100%;
  height: 100%;
}

button[name=headerButton], button[name=headerButton] a {
    margin-right: 5px;
    border:none;
    color: white;
    background-color: #bf2626;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

button[name=headerButton]:hover {
    text-shadow: #EEEE00 0 0 10px;
    box-shadow: 1px 3px 3px black;
}


#topLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #E2001A;
  height: 20%;
}

#resultLine {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bf2626;
  height: 70%;
}

.backButtonContainer {
    position: absolute;
    left: 0;
    height: 70%;
    width: 5%;
    cursor: pointer;
}

.backButton {
    height: 100%;
    width: 100%;
    background-image: url("../img/backIcon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.backButton:hover{
    background-image: url("../img/backIconBlack.svg");
}

.resultBox{
  margin-left: 5px;
  margin-right: 5px;
}

.resultBox p {
  display: inline-block;
  vertical-align: middle;
  font-size: 2em;
  line-height: 1.5em;
  margin: 0;
}

.scoreBox{
  margin-left: 50px;
  margin-right: 50px;
}

#resultLine .logoContainer {
    height: 80%;
    width: 10%;
}

.logoContainer {
  height: 50px;
  width: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.resultBox img {
  height: 110%;
  width: 100%;
}

.scheduleHeader p{
    left: 0px;
    text-align: left;
    font-size: 3em;
    font-weight: bold;
}

.scheduleContent {
    height: 80vH;
    overflow: auto;

}

.playingSchedule .loadingGif {
    background-image: url(../img/loading.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
    position: relative;
    left:50%;
    top:50%;

}

.scheduleList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    list-style-type: none;
}

.scheduleEntry {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  border:2px solid rgba(255, 255, 255, 0);
  border-radius: 3px;
  width: 50%;
  box-sizing: border-box;
  padding: 3px;
  margin: 10px;
  cursor: pointer;
}

.scheduleEntry:hover {
  border:2px solid #E2001A;
}

.timeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.teamInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.teamsContainer {
  flex-grow: 1;
  text-align: center;
}

.content {
  display: flex;
  width: 100%;
  height: 80vH;
}

.teamContent, .feedContainer, .controlsContainer, .scheduleEntry {
    box-shadow: 1px 1px 3px black;
}

.teamContainer {
  width: 20%;
  padding: 5px;
  box-sizing: border-box;
}

.teamContent {
  padding: 5px;
  overflow: hidden;
  border-radius: 5px;
  height: 100%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.7);
}

.teamContent:hover, .feedContent:hover {
    overflow-y: auto;
}

.teamContent h3 {
  margin-top: 5px;
  font-style: italic;
  text-align: center;
}

.playerList {
  padding: 0px;
  list-style-type: none;
}

.playerEntry {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 0, 0, 0.0);
  border-radius: 3px;
  cursor: pointer;
}

.playerEntry:hover {
    border: 1px solid #E2001A;
}

.user .playerEntry:hover {
    border: 1px solid rgba(255, 0, 0, 0.0);
    cursor: auto;
}

.playerEntry img {
    height: 25px;
    width: 25px;
}

.playerProp {
  margin-left: 2px;
  margin-right: 2px;
}

.playerName {
  width: 70%;
  margin-left: 5px;

}

.playerPosition {
  width: 20%;
}

.playerNumber {
  width: 10%;
  text-align: center;
}

.centerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  padding: 5px;
}

.user .feedContainer {
    height: 100%;
}

.centerBox {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}

.feedContainer {
  height: 85%;
  margin-bottom: 5px;
  padding: 0px;
}

.feedHeader {
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  background-color: #E2001A;
  color:white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 30px;
}

.kickoffDateContainer {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: auto;
    padding-top: 5px;
}

.kickoffDate {
    height: 100%;
    vertical-align: middle;
}

.gameTime {
    float: left;
    font-weight: bold;
    margin-left: 5px;
    padding-top: 5px;
}

.feedContent {
  /*padding: 5px;*/
  overflow: hidden;
  height: 90%;
}

.feed{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feedEntry {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  width: 100%;
  min-height: 20px;
  height: auto;
  background-color: rgba(255,255,255,0.5);
  border-radius: 5px;
  margin: 5px;
}

.eventIcon {
  height: 50px;
  width: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 100px;
  border: 1px solid black;
}

.eventContent{
  display: flex;
  flex-grow: 0.5;
  flex-direction: column;
  margin: 10px;
  width: 45%;
}

.eventContent input, .eventContent textarea {
  margin: 3px;
  width: 100%;
}

#eventTextInput {
  height: 100px;
}

.eventText p {
    word-break: normal;
}

.eventButtons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.eventButtons input[type=button] {
    width: 100px;
    cursor: pointer;
    background-color: #ecf0f1;
    color: #E2001A;
    border: 1px solid #E2001A;
    border-radius: 5px;
    box-shadow: 1px 1px 3px black;
    transition: border-color 300ms ease-in-out;
    outline: none;
}

.eventButtons input[type=button]:hover {
    background-color: #E2001A;
    color: #ecf0f1;
    border-color: #ecf0f1;
    text-shadow: #EEEE00 0 0 10px;
}

.eventContent h4 {
  margin-top: 0px;
  margin-bottom: 10px;
}

.controlsContainer {
  display: flex;
  height: 15%;
}

.controlIcon {
  flex-wrap: wrap;
  height: 100%;
  width: 12.5%;
  margin-left: 1.5px;
  margin-right: 1.5px;
  background-position: center;
  background-size: contain;;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.controlIcon:hover {
  border: 3px solid #E2001A;
  border-radius: 3px;
  cursor: pointer;
}

.controlIconSelected {
    border: 3px solid #E2001A;
    border-radius: 3px;
}

.whistleIcon {
  background-image: url("../img/icons/whistle.svg");
}

.goalIcon {
  background-image: url("../img/icons/goal.svg");
}

.yellowCardIcon {
  background-image: url("../img/icons/yellowCard.svg");
}

.redCardIcon {
  background-image: url("../img/icons/redCard.svg");
}

.foulIcon {
  background-image: url("../img/icons/foul.svg");
}

.exchangeIcon {
  background-image: url("../img/icons/exchange.svg");
}

.chanceIcon {
  background-image: url("../img/icons/chance.svg");
}

.otherIcon {
  background-image: url("../img/icons/freeText.svg");
}

.hidden {
  display: none;
}


.ticker .playerListHighlightPanel {
    position: absolute;
    top: 0;
    height: 100vH;
    width: 100vW;
    background-color: rgba(127, 140, 141, 0.7);
}

.liftUp {
    z-index: 10;
}
/*
.playerYellowCard {
    background-image: url("../img/icons/yellowCard.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: yellow;
}

.playerRedCard {
    background-image: url("../img/icons/redCard.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: red;
}

.goalGetter {
    background-image: url("../img/icons/goal.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: green;
}
*/
