body {
  margin: 0px;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Pacifico', cursive;
}

.loginScreen{
  height: 100vH;
  background-image: url(../res/login_background.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 2s ease-in-out;
}

.loginScreen h1{
  color: white;
}

input {
  margin: 10px;
  border-radius: 4px;
  width: 300px;
  height: 30px;
  font-size: 25px;
}

#loginButton {
  border-radius: 4px;
  width: 300px;
  height: 30px;
  background: crimson;
  cursor: pointer;
}

#loginButton:hover {
  background: red;
  color: white;
}

content {
  display: block;
  height: 100vH;
  background-image: url(../res/background.jpg);
  background-position: center;
  background-size: cover;
  /*opacity: 0;*/
  transition: opacity 2s ease-in-out;
}

.fadeOut {
  opacity: 0;
}

.fadeIn {
  opacity: 1;
}

.hidden {
  display: none;
}
